.container-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  width: 60%;
  padding: 10px;
}

.input-search {
  display: flex;
  min-height: 30px;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #ddd;
  font-size: 20px;
  width: 100%;
  padding: 10px;
}

.input-search::placeholder {
  color: #888;
  text-align: center;
}

@media (max-width: 600px) {
  .input-search {
    width: 100%;
  }
}
