.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  min-height: 100vh;
  background-color: #eee;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 30px;
}
