.post {
  background-color: #fff;
  border-radius: 10px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: transform 0.1s ease-in-out;
}

.post:hover {
  transform: scale(1.05);
}

.post img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.postContent {
  padding: 30px;
}
