.btn-more {
  background-color: #771796;
  border: 2px solid #771796;
  color: #f8f8f8;
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn-more:hover {
  background-color: transparent;
  color: #771796;
}

.btn-more:disabled {
  background-color: #888;
  cursor: not-allowed;
  border: 2px solid #888;
}

.btn-more:disabled:hover {
  background-color: #888;
  cursor: not-allowed;
  border: 2px solid #888;
  color: #f8f8f8;
}
